{% extends "admin/base.html" %}

{# Additional <head> content here, some extra meta tags or favicon #}
{% block extrahead %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
{% endblock %}

{% block header_time %}{% endblock %}

{# Footer links (left side) #}
{% block footer_links %}
{% endblock %}

{# Footer copyright (right side) #}
{% block copyright %}
{% endblock %}
